/* Accommodations */
.accommodations{
    margin: 0 1rem;
}

.accommodations h1{
    margin: 1rem;
}

.cards{
    margin: 0 1rem;
}

.accommodations-card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    height: 15rem;
    margin: 1rem 0;
    text-align: center;
}

.accommodations-link{
    text-decoration: none;
    color: black;
}

.accommodations-picture{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8rem;
    width: 99%;
}

.accommodationsPicture img{    
    margin: 0.1em;
    max-height: 8em;
    width: 100%;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    align-items: center;
}

.accommodations-description{
    padding-left: 1rem;
    margin: -0.2rem;
    text-align: initial;
}

.show-more{
    margin: 1rem;
}

@media (min-width: 768px) {
/* For tablets: */
    .accommodations{
        text-align: center;
    }

    .accommodations-card{
        width: 60%;
        margin: 1rem auto;
    }
    
    .accommodations-description{
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
      /* Accommodations */
      .accommodations{
        order: 1;        
        flex: 1 1 60%;
        background-color: #F2F2F2;
        border-radius: 20px;
        text-align: left;
        box-shadow: none;
    }
    
    .cards{
        display: flex;
        flex-flow: row wrap;        
    }

    .accommodations-card{
        width: 30%;
    }

    .accommodations-description{
        text-align: initial;
    }

}