/* Accommodations */
.accommodations{
    margin: 0 1rem;
}

.accommodations-title{
    padding: 1rem 0 0 0;
}

.cards{
    margin: 0 1rem;
}

.accommodations-card{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 8px 1px var(--grey);
    max-height: 18rem;
    margin: 1rem 0;
    transition: all 1s ease-in-out;
    padding: 2px;
}

.accommodations-card:hover{
    transform: scale(1.05);
}

.accommodations-link{
    text-decoration: none;
    color: black;
}

.accommodations-picture{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8rem;
    width: 100%;
}

.accommodations-description{
    padding: 0 1rem;
    margin: -0.2rem;
    text-align: initial;
}

.show-more{
    margin: 1rem;
}

@media (min-width: 768px) {
/* For tablets: */
    .accommodations{
        text-align: center;
    }

    .accommodations-card{
        width: 60%;
        margin: 1rem auto;
    }
    
    .accommodations-description{
        text-align: center;
    }
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
      .accommodations{
        order: 1;        
        flex: 1 1 60%;
        background-color: var(--grey);
        border-radius: 20px;
        text-align: left;
        box-shadow: none;
    }

    .accommodations-title{
        margin: 1rem 2rem;
    }
    
    .cards{
        display: flex;
        flex-flow: row wrap;        
    }

    .accommodations-card{
        width: 30%;
    }

    .accommodations-description{
        text-align: initial;
    }

    .show-more{
        margin: 1rem 0 3rem 2rem;
    }

}