/* Bottom Section */
.activities-section h2{
    margin: 0 2rem;
}

.activities-card{    
    border-radius: 20px;
    background-color: white;
    margin: 1rem 2rem;
    transition: all 1s ease-in-out;
}

.activities-card:hover{
    transform: scale(1.05);
}
.activities-link{
    text-decoration: none;
    color: black;
}
.activities-pictures{
    box-shadow: 0 5px 5px 5px #F2F2F2;
    border-radius: 20px;
    margin: 2px;    
}

.activities-pictures img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 8rem;
    width: 100%;
}

figcaption{
    padding: 0.5rem 1rem;
    text-align: initial;
    font-weight: bold;
}

@media (min-width: 768px) {
    /* For tablets: */
    .activities-section{
        margin: 1rem auto;
        text-align: center;
        width: 62%;
    }
    
    figcaption{
        text-align: center;
    }

}
    
@media only screen and (min-width: 992px) {
    /* For desktop: */ 
    .activities-section{
        width: 100%;
        
    }   
    
    .activities-section h2{
        text-align: left;
        margin: 2rem;
    }

    .activities{
        display: grid;
        grid-template: repeat(5, 5rem) / repeat(4,1fr);
        grid-template-areas: 
            'port fort calanques notre'
            'port fort calanques notre'
            'port fort calanques park'
            'port island calanques park'
            'port island calanques park'
            ;
        grid-gap: 1rem;
        margin: 2rem;
    }

    .activities-card{
        margin: 0;
    }

    .activities > div:nth-child(1){
        grid-area: port;
    }
    .activities > div:nth-child(2){
        grid-area: fort;
    }
    .activities > div:nth-child(3){
        grid-area: island;
    }
    .activities > div:nth-child(4){
        grid-area: calanques;
    }
    .activities > div:nth-child(5){
        grid-area: notre;
    }
    .activities > div:nth-child(6){
        grid-area: park;
    }

    .activities-pictures{
        height: 100%;
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .activities-pictures img{
        object-fit: cover;
        flex: 1;
    }

    figcaption{
        text-align: initial;
        white-space: nowrap;
        padding: 0 1rem;
        height: 2.5rem;
    }
    
}