/* Bottom Section */
.activities-section h2{
    margin-left: 2rem;
}

.activities-link{
    text-decoration: none;
    color: black;
}

.activities-pictures{
    width: 99%;
    margin: -0.5% 0 1rem 0;
}
    
.activities-pictures img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.big-img, .small-img{
    height: 8rem;
    width: 98%;
    margin: 1.3%;
}

.activities-card{    
    border-radius: 20px;
    padding-bottom: 0.1rem;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    z-index: 1;
    width: 90%;
    margin: 2rem auto;
    transition: all 1s ease-in-out;
}

.activities-card:hover{
    transform: scale(105%);
}

figcaption{
    padding: 0.5rem 1rem;
    text-align: initial;
}

@media (min-width: 768px) {
    /* For tablets: */
    .activities-section{
        margin: 1rem auto;
        text-align: center;
        width: 62%;
    }
    
    figcaption{
        text-align: center;
    }

}
    
@media only screen and (min-width: 992px) {
    /* For desktop: */ 
    .activities-section{
        width: 100%;
    }   
    
    .activities-section h2{
        text-align: left;
        margin: 2rem 0 -1rem 2rem;
    }

    .activities{
        display: flex;
        flex-direction: row;
        padding: 1rem;

    }

    .four-containers{
        flex: 2;
        margin: 1rem;
    }
    
    .small{
        display: flex;
        flex-direction: column;   
    }

    .small-img{
        height: 6rem;
    }

    .big-img{
        height: 20rem;
    }

    figcaption{
        text-align: initial;
    }
    
}