/* Bottom Section */
.activities-section{
    border: 1px solid brown;
    margin: 1rem;
}

/* .activities{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 95%;
} */

.activities-card{
    border-radius: 20px;
}

.activities-link{
    text-decoration: none;
    color: black;
}

.activities-pictures{
    /* display: flex;
    flex: 1;
    flex-direction: column; */
    width: 99%;
    margin: 1rem 0;
}
    
.activities-pictures img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.big-img, .small-img{
    height: 8rem;
    width: 98%;
}

.activities-card-text{    
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 1rem 0;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    margin-top: -1rem;
    z-index: 1;
    width: 98%;
}

@media (min-width: 768px) {
    /* For tablets: */
        /* Bottom Section */
        .bottomSection{
            background-color: #F2F2F2;
            margin: 2em auto;
            border-radius: 20px;
            box-shadow: 0 5px 5px 5px #c9c8c8;
            text-align: center;
            width: 62%;
        }
    
        .bottomSection h1{
            padding-top: 2em;
        }
    
        .activitiesCard{
            margin: 1em auto;
        }
    
    
}

    
@media only screen and (min-width: 992px) {
    /* For desktop: */
        /* Bottom Section */
        .bottomSection{
            width: 150%;
            margin: 0 0.5em 1em 1em;
            text-align: left;
            background-color: white;
            box-shadow: none;
            padding: 1em;
        }
        .bottomSection h1{
            padding: 2em 0 1em 1em;
        }
        
        .activities{
            display: flex;
            flex-direction: row;
            margin: 2em 0;
            justify-content: space-between;
            width: 93%;
        }
        
        .fourContainers{
            margin: -1.8em;
            width: 28%;
        }
    
        .activitiesCard{
            margin: 0 0;
        }
        
        .small{
            display: flex;
            flex-direction: column;
            
        }
    
        .smallImg{
            width: 100%;
            height: 6em;
        }
    
        .bigImg{
            height: 15em;
        }
        
}