/*
nav li{
    list-style-type: none;
    display: inline;
}

nav a{
    text-decoration: none;
    float: right;
    padding: 20px;
    color: black;
    margin-right: 20px;
}

nav #accommodationsNav{  
    border-top: thick solid #0065FC; 
    color: #0065FC;
}    


nav #signNav{
    font-weight: bold;
    color: #0065FC;
}

.bottomSection section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.bottomSection section figure{
    border: red;
    border-radius: 20px;
    flex-grow: 1;
}

.bottomSection section article:nth-child(1), article:nth-child(4){
    flex-grow: 2;
}   */