.nav{
    display: flex;
    flex-flow: row wrap; 
}

.accommodationsNav{
    order: 1;
    align-self: flex-end;

}

.activitiesNav{
    order: 2;
    align-self: flex-end;
}

.signNav{
    order: 3;
    align-self: flex-end;
}