.nav{
    display: flex;
    flex-flow: row wrap; 
}

.accommodationsNav{
    order: 1;
    align-self: flex-end;
}

.accommodationsNav:active{
    border-top: thick solid #0065FC;
}

.activitiesNav{
    order: 2;
    align-self: flex-end;    
}

.activitiesNav:active{
border-top: thick solid #0065FC;
}    

.signNav{
    order: 3;
    align-self: flex-end;
}

.accommodations{
    order:1;
}

.popular{
    order:2;
}

.accommodations{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    margin-right: 3em;
    order: 2;
}

.accommodations h2{
    padding: 5% 2%;
} 

.accommodations article{
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 1%;
    width: 25%;
    margin: 2% 2% auto;
    max-height: 40%; 
}

.accommodations article img{
    padding: 0px 0 10px 0;
    border-radius: 20px;
    width: 100%;
    height: 100px;
}

.popular{
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 30%;
    order: 1;
}

.popular article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 10px;
    width: 90%;
    margin: 2%;
}

.popular article img{
    padding: 10px 0 10px 0;
    border-radius: 20px;
    width: 100px;
    height: 150px;
}

.activities figure{
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 10px;
    width: 20%;
}

.activities figure img{
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

.bottomSection {
    display: flex;
    flex-direction: column;
}

.bottomSection section{
    display: flex;
    flex-direction: column;
}

.bottomSection section figure{
    border: red;
    border-radius: 20px;
    flex-grow: 1;
}

.bottomSection section article:nth-child(1), article:nth-child(4){
    flex-grow: 2;
}    

footer{
    background-color: #F2F2F2;
}
