/* Filters */
.filters-buttons{
    display: flex;
    flex-flow: wrap;
    white-space: nowrap;
    margin-right: 1rem;
}

.buttons{
    display: flex;
    border-radius: 26px;
    border: 1px solid var(--light-blue);
    background-color: white;
    font-weight: bolder;
    margin: 0.5rem;
}

.filters-menu button{
    transition: background-color 1s ease-out;
}

.filters-menu button:hover{
    background-color: #eff4fd;
    cursor: pointer;
    transform: scale(1.02);
}

.buttons i{
    flex: 1 1 20%;
    border-radius: 20px;
    color: var(--blue);
    padding: 12px;
    margin: -1px 0 -1px -7px;
    background-color: var(--light-blue);
    width: 12px;
    height: 12px;
    font-size: 12px;
}

.filterText{
    padding: 0 1rem; 
    margin: auto;  
    font-weight: 600;
}

.family{
    order: 1;
}

.pets{
    order: 2;
}

@media (min-width: 768px) {
    /* For tablets: */    
    .filters-menu{
        display: flex;
        flex-direction: row;
    }

    .filters-menu h2{
        margin: auto 1rem auto 0;
    }

    .filters-buttons{
        display: flex;
        flex-flow: nowrap;
    }

    .family{
        order: 0;
    }
    
    .pets{
        order: 0;
    }

}