/* Footer */
.footer{
    background-color: #F2F2F2;
    margin: 0;
    padding: 0 0 2rem 1rem;
}

.footer-section h2{
    padding: 3rem 0 0 1rem;
}

.foooterUl li{
    margin-left: -1.5rem;
    margin-bottom: 1rem;
    list-style-type: none;
}

.foooterUl li a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 768px) {
    /* For tablets: */    
    .footer-section{
        text-align: center;
    }
}
 
@media only screen and (min-width: 992px) {
/* For desktop: */
    .firstFooter-section{
        margin: 1rem 0;
    } 
    
    .footer{
        display: flex;
        flex-direction: row;
    }
    
    .footer-section{
        text-align: left;
        flex: 3;
        padding: 0 0 1rem 2rem;
    }

}
