/* Header Section */
.header-section{
    padding: 1rem;
    border: 1px solid cyan;

}

.header-section p{
    margin-top: -1em;
}


.header-section h1{
    font-weight: bold;
}

.header-section h2{
    font-weight: normal;
}
