/* Info */
.info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
}

.info i{

    background-color: var(--blue);
    color: white;
    border-radius: 7px;
    width: 1rem;
    height: 1rem;
}

@media only screen and (min-width: 992px) {
    /* For desktop: */ 
    .info {
        padding-right: 62%;    
    }
}
