/* Main section */
.main-section{
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media only screen and (min-width: 992px) {
    /* For desktop: */
    .main-section{
        flex-direction: row;
        margin: auto 1rem;
    }
}