/* Nav Bar */
.nav-top{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    border: 1px solid red;
    margin: 0;
    padding: 1rem;
    justify-content: end;
}

.nav-top > div{
    border: 1px solid blue;
    text-decoration: none;
    list-style-type: none;
    padding: 1rem;
}

.logo{
    margin-right: auto;
}

.sub-nav{
    order: 1;
}
.sub-nav{
    order: 1;
}

.signup-top{
    order: 2;
}

.sub-nav > div{
    display: inline-block;
    border: 1px solid purple;
}


header a{
    text-decoration: none;    
    color: black;    
    font-weight: bold;
}


@media only screen and (max-width: 771px) {
    /* For mobile: */
    .sub-nav{
        width: 100%;
        order: 2;
    }
    
    .sub-nav > div{
        width: calc(50% - 1rem);
        text-align: center;
    }

    .signup-top{
        order: 1;
    }



}