/* Nav Bar */
header a{
    text-decoration: transparent;    
    color: black;    
    font-weight: bold;
    border: 3px solid yellow;
}

.nav-top{
    border: 3px solid gray;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}

.nav-top > div{
    border: 3px solid purple;
    text-decoration: transparent;
    list-style-type: transparent;
}

.logo{
    margin-right: auto;
}

.sub-nav{
    border: 3px solid turquoise;
    order: 1;    
}

.sub-nav > div{
    display: inline-block;    
    border-bottom: 3px solid transparent;
    /* border-top: 3px solid transparent; */
    border-top: 3px solid yellowgreen;
}

.sub-nav > div:hover {
    border-top: 3px solid var(--blue); 
}

.sub-nav > div:hover a{
    color: var(--blue);
}

.signup-top{
    order: 2;
}

.signup-top a{
    color: var(--blue);
}

.nav-top > div:nth-child(3){
    /* border-top: 3px solid transparent; */
    border-top: 3px solid yellowgreen;

}

.nav-top > div:nth-child(3):hover{
    border-top: 3px solid var(--blue);

}


@media only screen and (max-width: 768px) {
    /* For mobile: */
    .nav-top{
        padding: 0;
    }

    .sub-nav{
        width: 100%;
        order: 2;
        margin: 0;
        display: flex;
    }
    
    .sub-nav > div{
        width: 50%;
        text-align: center;
        border-bottom: 3px solid var(--grey);
        padding: 1rem 0 0.5rem 0;
    }

    .sub-nav > div:hover{
        border-bottom: 3px solid var(--blue);        
    }

    /* .sub-nav > div:first-child:hover {
        border-bottom: 3px solid #0065FC;
        border-top: 3px solid transparent;
    }
    
    .sub-nav > div:last-child:hover{
        border-bottom: 3px solid #0065FC;
        border-top: transparent;
    } */


    .signup-top{
        order: 1;
    }

    .signup-top a:hover a:focus{
        border-top: transparent;
    }



}