/* Search button */
.search{
    height: 3rem;
    display: flex;
    flex:1;
    margin: 2rem 0;
}

.search .fa-map-marker-alt{
    border-top-left-radius: 13px;
    border-bottom-left-radius: 13px;
    background-color: var(--grey);
    padding: 1rem;
    align-self: center;
    transition: all 1s ease-in-out;
}

.search .fa-map-marker-alt:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.input-text{
    font-size: 16px;
    padding-left: 1rem;
    width: 90%;
    border: solid thin var(--grey);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */    
    color: black;
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.search-submit{
    margin-left: -1rem;    
    color: white;
    background-color: var(--blue);
    border: hidden;
    align-self: center;
    padding: 1rem;    
    z-index: 1;
    transition: all 0.5s ease-in-out;
}

.search-submit:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.glass{
    border-radius: 12px;
}

.search-words{
    display: none;
}



/* Tablet & Desktop */
@media only screen and (min-width: 768px) {
    
    .search{
        width: 24rem;  
    }

    .glass{
        display: none;
    }

    .search-words{
        display: block;
        border-top-right-radius: 13px;
        border-bottom-right-radius: 13px;
    }
}