/* General */

html, body{
    max-width: 100%;
    margin: 0; 
}

.root{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 1.5em;
}

h2{
    font-size: 1em;
}

/* Mobile First*/
/* Header & NavBar*/
.navTop{
    max-width: 100%;
}

.one{
    max-width: 100%;
    margin: 0;
}

.navTop ul{
    display: flex;
    flex-flow: row wrap;
}

.navTop li{
    padding-top: 1em;
    display: inline;
    flex: 1 1 50%;
    margin: auto;
}

.logo{
    width: 60%;
    margin-left: -1em;
}

header a{
    text-decoration: none;    
    color: black;    
    font-size: 1em;
    font-weight: bold;
}

.signupTop{
    color: #0065FC;
    margin-left: 44%;
    white-space: nowrap;

}

.navBottom{
    display: flex;
    flex: 1;
}

.two{
    flex: 1 1 50%;
    max-width: 100%;
    margin: 0 -5em;
}

.two li{
    text-align: center;
    /* margin: auto; */
}

.accommodationsNav{
    color: #0065FC;
} 

.signupBottom{
    display: none;
}

.hrDiv{
    display: flex;
    flex-direction: row;
    margin-top: 0.2em;
}

.accommodationsNavHR{
    flex: 1 1 50%;
    border-bottom: solid #0065FC;
}

.activitiesNavHR{
    flex: 1 1 50%;
    border-bottom: solid #DEEBFF;
}

/* Head */
.bodyPage{
    max-width: 100%;
    margin-left: 1em;
}

.headerSection h1{
    font-weight: bold;
}

.headerSection h2{
    font-weight: normal;
    margin-bottom: 1em;
}


/* Search button */
.search{
    width: 90%;
}

.inputContainer{
    display: flex;
    flex:1;
    height: 3em;
    margin: 1em 0em;
}

.searchWords{
    display: none;
}

.map{    
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color:rgb(226, 220, 220);
    padding: 1em;
    align-self: center;
}

.inputText{
    font-size: 1em;
    padding-left: 1em;
    width: 90%;
    border: solid thin rgb(226, 220, 220);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */    color: black;
    font-weight: bold;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.searchSubmit{
    margin-left: -2em;    
    color: #DEEBFF;
    background-color: #0065FC;
    border: hidden;
    padding: 1.2em;
    align-self: center;
    border-radius: 30%;
}


/* Filters */
.filtersMenu{
    max-width: 100%;
}

.filtersMenu h2{
    font-weight: bold;
    margin: 2em 0 -0.5em 0em;
}

.filtersButtons{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    padding: 1em;
    white-space: nowrap;
    margin: auto;
    font-weight: bold;
}

.buttons{
    display: flex;
    /* margin: 0.2em 0.1em; */
    border-radius: 3em;
    border: 1px solid #DEEBFF;
    background-color: white;
    font-size: 0.9em;
    font-weight: bolder;
}

.filtersMenu button:hover {
    background-color: #DEEBFF;
}

.filtersMenu i{
    flex: 1 1 20%;
    border-radius: 50%;
    color: #0065FC;
    padding: 1.2em;
    position: relative;
    margin: 0 0 0 -18px;
    background-color: #d5e5ff;
}

.filterText{
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;    
}


/* Info */
.info{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    margin: 0 0.2em 3.2em 0.2em;
}

.info i{
    flex: 1;
    height: 50%;
    background-color: #0065FC;
    color: white;
    border-radius: 50%;
    margin: 1em 1em 1em 0;
}

.info p{
    flex: 1 1 90%;
    
}

/* Main section */
.mainSection{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: -1em;
    width: 450px;
}

.popularSection {
    display: flex;    
    flex-direction: column;
    background-color: #F2F2F2;
    padding-bottom: 2em;
    margin-right: -1em;
}

.popularHeading{
    display: flex;
    flex-direction: row;
    margin: 0 1em;
}

.popularHeading h1{
    white-space: nowrap;
    margin: auto;
    flex: 1 1 50%;

}

.popularHeading i{
    font-size: 1.5em;
    flex: 1 1 50%;
    text-align: end;
    margin: 40px 40px;
}



/* popularCard */
.popularCard{
    background-color: white;
    border-radius: 1em;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    margin: 1em;
    display: flex;
    flex-direction: row;
    flex: 0.9;
    height: 8em;
}

.popularCard a{
    display: flex;
    flex: 1;
}

.popularPicture{
    flex: 0.5;
    height: 8.5em;
}

.popularPicture img{
    margin: 0.2em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    height: 90%;
    width: 100%;
}

.popularDescription{    
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1.5em;
    /* margin-top: -25px; */
    
}

.popularDescription h2{    
    flex: 1 1 30%;
    font-size: 1em;
    margin: 1em 3em -0.8em 0;
}

.popularDescription p{    
    flex: 1 1 30%;
    font-size: 0.8em;
    margin-bottom: 1em;
    justify-self: start;
    
}

.stars{    
    flex: 1 1 30%;
    justify-self: end;
    font-size: 0.8em;
    margin-bottom: 0.5em;

}

.fullStar{
    color: #0065FC;
}

.emptyStar{
    color: #F2F2F2;
}

/* Accommodations */
.accommodations{
    margin-right: -1em;
}

.accommodations h1{
    font-weight: bold;
    margin: 2em 0em 0em 1em;
    white-space: nowrap;
}

.accommodationsCard{
    display: flex;
    flex-flow: column;
    border-radius: 1em;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    margin: 1em;
    width: 90%;
    height: 80%;
    /* height: calc(50vh - 155px); */
}

/* .accommodationsPicture{
    flex: 0.6;
} */


.accommodationsPicture img{    
    margin: 0.1em;
    max-height: 8em;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    align-items: center;
}

.accommodationsDescription{
    flex: 0.3;
    padding-left: 1.5em;
    margin-top: -1em;
}

.accommodationsDescription a{
    color: black;
    text-decoration: none;
    margin-bottom: 0.5em;
}

.accommodationsDescription p{
    margin-bottom: 0.5em;
}

.showMore{
    margin: 0 0 3em 1em;
}


/* Bottom Section */
.bottomSection{
    max-width: 100%;
}

.activities{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0; 
    width: 100%;
}

.lastFourContainer{
    margin-bottom: 2em;
}

.activitiesCard{
    margin-left: -2em;
    border-radius: 1em;
    /* margin: 0em 0.2em 3em -2em; */
}

.activitiesPictures{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 85%;
}
    
.activitiesPictures img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bigImg, .smallImg{
    height: 8em;
}

.activitiesCardText{    
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em 1em;
    font-size: 1em;
    font-weight: bold;
    background-color: white;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    margin-top: -1em;
    z-index: 1;
}


/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    margin:0;
    max-width: 100%;
}

.footerSection{
    /* margin-top: 5em; */
    flex: 1;
    flex-direction: column;
}

.firstFooterSection{
    margin-top: 2em;
}

.footerSection h2{
    margin-left: 1.2em;

}

.footerSection ul{
    margin-left: -1.2em;
}

.foooterUl li{
    padding: 0.2em;
    list-style-type: none;
}

.foooterUl li a{
    color: black;
    text-decoration: none;
    font-size: 1em;    
}

.assistance{
    margin-bottom:2em;
}


@media (min-width: 600px) {
    /* For tablets: */
    /* Header & NavBar*/
    .navTop li{
        flex: 1 1 100%;
    }

    .logo{
        width: 19%;
        margin-left: 34%;
    }

    .signupTop{
        display: none;
    }

    .signupBottom{
        display: block;
    }

    /* Filter */
    .filtersButtons{
        justify-content: space-around;
    }

    .buttons{
        margin: 0.8em 1em 0.8em 0;
    }

    /* Info */
    .info i{
        margin: 1em 3em 1em 0;
    }

    /* Main Section */
    .mainSection{
        margin: auto;
        width: 62%;
    }

    /* Popular Section */
    .popularSection{
        border-radius: 1em;
        box-shadow: 0 5px 5px 5px #c9c8c8;
    }

    .popularDescription{
        text-align: center;
    }
    
    .popularDescription h2{
        margin: 1em 0;

    }


    /* Accomodations */
    .accommodations{
        margin-top: 2em;
        background-color: #F2F2F2;
        border-radius: 1em;
        box-shadow: 0 5px 5px 5px #c9c8c8;
        text-align: center;
    }

    .accommodations h1{
        margin: 2em 0em 1em 1em;
    }

    .accommodationsCard{
        margin: 1em auto;
    }
    
    .accommodationsPicture img{
        margin: 0 1em 0em 0;
        z-index: 1;
        width: 101%;

    }

    .accommodationsDescription{
        background-color: white;
        border-bottom-right-radius: 1em;
        border-bottom-left-radius: 1em; 
        width: 95%;
   }
    
    /* Bottom Section */
    .bottomSection{
        background-color: #F2F2F2;
        margin: 2em auto;
        border-radius: 1em;
        box-shadow: 0 5px 5px 5px #c9c8c8;
        text-align: center;
        width: 62%;
    }

    .bottomSection h1{
        padding-top: 2em;
    }

    .activitiesCard{
        margin: 1em auto;
    }


    /* Footer */
    .footer{
        width: 100%;
    }
    
    .footerSection{
        text-align: center;
    }

    


}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    /* General */
    h1{
        font-size: 1em;
    }
    
    h2{
        font-size: 0.8em;
    }

    /* Nav bar */
    header a{ 
        font-size: 0.5em;
    }

    .navTop ul{
        flex-flow: row nowrap;
    }

    .navTop li{
        margin-top: -1.3em;
        flex: 1;
        /* padding-right: -10em; */
        /* padding-top: -1em; Invalid CSS*/ 
    } 
    
    .logo{
        width: 30%;
        margin: 0.5em 0 0 -0.3em;
    }

    .signupTop, hr{
        display: none;
    }

    .navBottom{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 1.2em;
    }

    .two{
        margin: 0 -2em;
    }


    /* .navBottom li{
        flex: 1 1 20%;
    } */

    .accommodationsNav{
        order: 1;
        border-top: 0.5em solid blue;
        padding-top: 1.7em;
    }

    .activitiesNav{
        order: 2;        
    }

    .signupBottom{
        display: block;
        justify-content: center;
        font-weight: bold;
        color: #0065FC;
        white-space: nowrap;
        margin: 1em 1em 0 0;
    }
    
    /* Head */
    .headerSection{
        margin-left: 1.5em;
    }

    .headerSection p{
        font-size: 0.5em;
        margin-top: -1em;
    }


    /* Search Button*/
    .search{
        font-size: 0.5em;
    }
    
    .inputContainer{
        margin-right: 15%;  
        height: 2%;
        flex: 0.1;
        font-size: 1.3em;
    }
    
    .map{
        border: none;
        padding: 1.3em;
    }

    .inputText{
        flex:0.4;
    }

    .inputContainer button{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;            
    }

    .glass{
        display: none;
    }

    .searchWords{
        display: block;
        font-size: 1em;
    }


    /* Filters */
    .filtersMenu{
        display: flex;
        flex: 1;
        font-size: 0.5em;
    }
    .filtersMenu h2{
        margin: auto;
        font-size: 1em;
    }
    
    .filtersButtons{
        flex-flow: row nowrap;
    }

    /* .buttons{
        border: 1px solid grey;
        margin: 0.5em;
    } */

    .filtersMenu i{
        color: #0065FC;
        position: relative;
        margin: -0.6em 0 -2em -1em;
    }
    
    /* Info */
    .info{
        font-size: 0.8em;
        margin-right: 70%;
        font-size: 0.5em;
        
    }

    .info i{
        margin: -0.5em 1em 1em 0;
    }

    /* Main Section */
    .mainSection{
        display: flex;    
        flex-direction: row;
        flex: 1;
        width: 100%;
        height: calc(54vh - 100px);
        margin-bottom: 1em;
    }

    /* Popular Section */
     .popularSection{
        order: 2;
        flex: 1 1 30%;
        border-radius: 20px;
    }

    .popularHeading i{
        font-size: 1em;
        margin-right: 0.5em;
    }

    .popularCard{
        height: 5em;
    }
    
    .firstArticle{
        margin-top: -1em;

    }

    .popularPicture{
        flex: 0.5;
        max-height: 10em;
    }

    .popularPicture img{
        width: 80%;
        margin: 0.1em;
        height: 98%;
        max-height: 4.7em;
    }

    .popularDescription{
        font-size: 0.6em;
        padding: 0em;
        text-align: start;
    }
    
    .popularDescription h2{    
        margin: 1em 3em -0.8em 0;
    }
    
    /* Accommodations */
    .accommodations{
        order: 1;        
        flex: 1 1 60%;
        background-color: #F2F2F2;
        margin: 0 2em;
        border-radius: 20px;
        text-align: left;
    }

    
    .accommodationsTitle{ 
        white-space: nowrap;
        font-size: 0.8em;
        margin-left: 1em;
    }
    
    .ThreeCards{
        display: flex;        
        flex-flow: row nowrap;
        justify-content: center;
    }    
    
    .accommodationsCard{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 5px 5px 5px #F2F2F2;
        flex:1 1 30%;
        margin: 0.5em;        
    }
    
    .accommodationsPicture img{
        margin: 0.1em;
        max-height: 4em;
        width: 98%;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    
    .accommodationsDescription{
        margin: -1em 0 0.5em 0.5em;
        padding: 0.5em;    
        font-size: 0.5em;
        background-color: transparent;
        border-color: transparent;
    }

    .accommodationsDescription h2{
        font-size: 1em;
    }


    .showMore{
        margin: 1em 0 3em 1em;
    }

    /* Bottom Section */
    .bottomSection{
        width: 150%;
        margin: 0 0.5em 1em 1em ;
        text-align: left;
        background-color: white;
        box-shadow: none;
    }
    
    .activities{
        display: flex;
        flex-direction: row;
        margin: 2em 0;
    }
    
    .fourContainers{
        margin: -1.8em;
        width: 20%;
    }

    .activitiesCard{
        margin: 0 0;
    }
    
    .small{
        display: flex;
        flex-direction: column;
        
    }

    .smallImg{
        width: 100%;
        height: 6em;
    }

    .bigImg{
        height: 15em;
    }

    .activitiesCardText{ 
        font-size: 0.5em;
    }
    

    /* footer */
    .footer{
        padding-bottom: 3em;
        flex-direction: row;
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footerSection h2{
        margin-left: 3.6em;
        text-align: left;
    }
    
    /* .firstFooterSection{
        margin: 0;
    } */
    
    
    .footerSection ul{
        margin-left: 1em;
        font-size: 0.5em;
        text-align: left;
    }

    .assistance{
        margin-bottom: 0;
    }
    

}
