
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.root{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* General */
h1, h2{
    font-weight: bold;
}

h1{
    font-size: 3em;  
      
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
}

p{
    font: 0.5em;
}

/* Header & NavBar*/

header a{
    text-decoration: none;    
    color: black;    
}

header{
    display: flex;
    flex: 1;
}

.navTop{
    flex: 1;
}

.one{
    flex: 1;
    flex-direction: row;
    
}

.signupBottom{
    display: none;
}

.signupTop{
    font-weight: bold;
    color: #0065FC;
    margin-right: 2em;
    align-self: flex-end;
}

.navTop ul{
    display: flex;
    flex-flow: row wrap;
    margin-left: 0;
}

.navTop li{
    display: inline;
    flex: 1 1 50%;
    font-size: 2em;
    margin: auto;
}

.navTop .imgLogo{
    text-align: left !important;
    
}


.navTop img{
    width: 60%;
    height: 60%;
    margin-left: 0em;
}

.two{
    justify-content: space-around;
}

.navBottom{
    flex: 1 1 50%;
}



.accommodationsNav{
    color: #0065FC;
} 

.navTop hr{
    border-bottom: solid #DEEBFF;
}

.intro{
    margin-left: 3em;
}

.search{
    margin-left: 0;
    display: flex;
}

.search > form{
    display: flex;
    flex:1;

}

.searchWords{
    display: none;
}

.search > form > div{
    display: flex;
    flex-direction: row nowrap;

    /* border-radius: 30%; */
    /* border: solid #DEEBFF; */
    
}

.search > form > div > .map{
    flex: 0.2;
    font-size: 3em;
    background-color:rgb(226, 220, 220);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    padding: 4%;
}

.search > form > div > .inputText{
    font-size: 2em;
    font-weight: bold;
    flex: 0.6;
    padding: 4%;
    border: solid rgb(226, 220, 220);
}

.search > form > div > .searchSubmit{
    font-size: 3em;
    flex: 0.2;
    font-weight: bold;
    color: #DEEBFF;
    background-color: #0065FC;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border: none;
    padding: 4%;
}

.filtersMenu > .filtersButtons{
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    margin-left: 50px;
}

.filtersMenu > div > .buttons{
    border-radius: 40px;
    font-size: 2em;
    border: 1px solid grey;
    background-color: white;
}

.filtersMenu > div > button > i{
    border-radius: 40%;
    color: #0065FC;
    padding: 1em;
    position: relative;
    left:-11px;
    }

.filtersMenu button:hover {
    background-color: #DEEBFF;
}

.info i{
    color: #0065FC;
    margin-right: 50px;
}

.popularSection {
    display: flex;    
    flex-direction: column;
    background-color: #F2F2F2;
}

.popularSection > .popularHeading{
    display: flex;
    flex-direction: row;
    margin-left: 3em;
}

.popularSection > .popularHeading > i{
    flex: 1 1 50%;
    font-size: 2.5em;
    text-align: end;
    margin: 40px 40px;
}

.popularSection > .popular > .popularCard{
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    margin: 3em;
    display: flex;
    flex-direction: row;
    flex: 0.9;
    height: 10%;
}

.popularSection > .popular > .popularCard > a{
    display: flex;
    flex: 1;
}

.popularSection > .popular > .popularCard > a > .popularDescription p, .stars{    
    margin-left: 2em;
    padding: 1em;
    
}

.popularSection > .popular > .popularCard > a > .popularPicture img{
    margin: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 300px;
    width: 280px;
}
.fullStar{
    color: #0065FC;
}

.emptyStar{
    color: #F2F2F2;
}

/* Accommodations */
.accommodations{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.accommodations > .accommodationsCardBox > .accommodationsCard{

    background-color: #F2F2F2;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    margin: 1em;
}

.accommodationsPicture img{
    height: 30em;
    width: 100%;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.accommodationsDescription{
    flex: 1;
    margin-left: 2em;
    padding: 2em;

}

/* Activities */
.bottomSection{
    margin-left: 50px;
}

 .activitiesCard{
    background-color: white;
    border-radius: 10%;
    box-shadow: 0 5px 5px 5px #F2F2F2;
    margin: 2em;
    display: flex;
    flex: 1;
    flex-direction: column;
}
/* .bottomSection > .activities > .activitiesCard{
    display: flex;
    flex:1;
    
} */


/* .activities > .fourContainers > .small > .activitiesCard figure{
    display: flex;
    flex:1;
} */

figure{
    margin: 0;
}

.bottomSection img{
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    height: 100%;
    width: 100%;
}

/* background-color: black; */
figcaption{
    flex: 1;    
    padding: 3%;
    font-size: 3em;
    font-weight: bold;
}

/* Footer */
.footer{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
}

.footer > .footerSection{
    margin-left: 50px;
    flex: 1;
    flex-direction: column;
}

.footer > .footerSection h2,ul{
    margin-left: 2em;
}

.footer > .footerSection > ul > li{
    padding: 2%;
    list-style-type: none;
}
.footer > .footerSection > ul > li > a{
    color: black;
    text-decoration: none;
    font-size: 2em;
  
    
}

@media only screen and (min-width: 981px) {
    h2{
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1em;
    }
    
    p{
        font: 0.5em;
    }

    .navTop{
        font-size: 0.4em;
    }
    
    .navTop li{
        flex: 1;
        padding-right: 1em;
    } 
    
    .signupTop{
        display: none;
    }

    .navBottom{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding-top: 1.2em;
    }

    .lineAccommodationsNav{
        border: 0;
        color: blue;
        width: 60px;
        height: 20px;
    }

    .signupBottom{
        display: block;
        justify-content: center;
        font-weight: bold;
        color: #0065FC;
        white-space: nowrap;
    }
    
    .navTop hr{
        border-bottom: none;
    }
    
    .accommodationsNav{
        order: 1;
        border-top: 0.3em solid blue;
        padding-top: 0.6em;
    }
    
    .activitiesNav{
        order: 2;
        
    }

    .glass{
        display: none;
    }

    .searchWords{
        display: block;
    }

    .search > form > div{
        flex:0.5;
    }

    .search > form > div > .map{
        font-size: 2em;
        flex:0.2;
        border: none;

    }
    
    .search > form > div > .inputText{
        flex:0.6;
        font-size: 2em;
        
    }
    
    .search > form > div > .searchSubmit{
        font-size: 2em;
        flex:0.2;
        
    }

    .filtersMenu > div > .buttons{
        border-radius: 40px;
        font-size: 2em;
        border: 1px solid grey;
        margin: 0.5em;
    }

    .filtersMenu > div > button > i{
        border-radius: 40%;
        color: #0065FC;
        background-color: #DEEBFF;
        padding: 1em;
        position: relative;
        left:-7px;
        }

    .mainSection{
        display: flex;    
        flex-direction: row;
        flex: 1;
        height: calc(133vh - 100px);
    }

    .mainSection h3{
        margin-left: 2em;
    }

    .popularSection{
        order: 2;
        display: flex;
        flex-direction: column;
        flex: 1 1 30%; 
        margin-right: 2em;
    }
    
    .popularSection > .popularHeading > i{
        font-size: 1.5em;
        margin: 30px;
    }
    
    .popularSection > .popular > .popularCard > a > .popularPicture img{
        height: 100%;
        width: 10em;
    }
    
    .popularSection > .popular > .popularCard > a{
        display: flex;
        flex: 1;
    }
    
    .popularSection > .popular > .popularCard > a > .popularDescription{    
        margin: 0.5em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 300px;
    }
    
    .popularSection > .popular > .popularCard > a > .popularDescription h3{    
        margin: 0;
    }
    
    .popularSection > .popular > .popularCard > a > .popularDescription p, .stars{    
        margin-left: 0;
        padding: 0.5;
        
    }

    .popularSection > .popular > .firstArticle {
        margin-top: 0;
    }
    
    .accommodations{
        order: 1;        
        flex: 1 1 70%;
        margin-right: 10px;
        background-color: #F2F2F2;
        margin: 0 2em;
    }
    
    .accommodations h2{
        margin-left: 2em;
    }
    
    .accommodations > .accommodationsCardBox > .ThreeCards{
        display: flex;        
        flex-flow: row nowrap;
        justify-content: center;
    }
    
    
    .accommodations > .accommodationsCardBox > .ThreeCards > .accommodationsCard{
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 5px 5px 5px #F2F2F2;
        flex:1 1 30%;
        margin: 1em;
        
    }
    
    .accommodationsPicture img{
        height: 10em;
        width: 15em;
        border-top-left-radius: 10%;
        border-top-right-radius: 10%;
    }
    
    .accommodationsDescription{
        margin: 0em;
        padding: 0.5em;
    
    }
    
    /* .bottomSection{
        height: calc(133vh - 100px);

    } */
    
    .activities{
        display: flex;
        flex-direction: row;
        flex: 1;
        
    }
    
    .activities > .fourContainers{
        padding: 1em;
        height: 22em;
        flex: 1;
    }
    
    .activities > .fourContainers > .activitiesCard{
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    /* .activities > .fourContainers > .activitiesCard figure{
        flex: 1;
    } */
    
    .activities > .fourContainers > .activitiesCard img{
        flex: 1 1 80%;
    }
    
    .activities > .fourContainers > .activitiesCard figcaption{
        flex: 1 1 20%;
    }
    
    figure{
        margin: 1em;
        margin: 0;
    }
    
    
    .bottomSection > .activities > .activitiesCard > .activitiesPictures{
        font-size: 1em;
        flex: 0.5;
    }
        
    
    .activities > .fourContainers > .small{
        height: 100%;
    }
    
    .activities > .fourContainers > .small > .activitiesCard{
        height: 50%;
    }
    
    /* .activities > .fourContainers > .small > .activitiesCard figure{
        flex: 1 1 50%;
    } */
    
    .footer{
        margin: 3em 0 0 0 ;
        flex-direction: row;
        display: flex;
        align-items: end;
    }
    
    .footer > .footerSection h2{
        margin-left: 2em;
    }
    
    
    .footer > .footerSection ul{
        margin-left: 1em;
        font-size: 0.5em;
    }
    
}