
*{
    background-color: white;
    font-family: 'Raleway', sans-serif;
    margin: 0% 2%;;
}
/* Nav Bar */
nav a{
    text-decoration: none;    
    color: black;    
}

.navTop, .navBottom{
    display: flex;
    flex-flow: row wrap; 
}

.logo{
    align-self: flex-start;
}

.signNav{
    align-self: flex-end;
    align-items: center;
    font-weight: bold;
    color: #0065FC;
}

.activitiesNav{
    flex-basis: 50%;
    justify-content: center;
}

.activitiesNav:active{
    border-bottom: thick solid #0065FC;
}    

.accommodationsNav{
    flex-basis: 50%;
    justify-content: center;
}   

.accommodationsNav:active{
    border-bottom: thick solid #0065FC;
}    

/* Header */
h1, h2{
    font-weight: bold;
    margin: 5% 0%;
}

.search{
    display: flex;
    flex-grow: row nowrap;
    align-content: center;
    flex-basis: 50%;
    margin: 5% 0%;
}

.search i{
    background-color:rgb(226, 220, 220);
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border: none;
    padding: 1em;
    align-items: center;
    justify-content:center;
}

.search input{
    padding: 1em;
    border: thick;
    border-color: #DEEBFF;
    font-weight: bold;
}

.search button{
    font-weight: bold;
    color: #DEEBFF;
    background-color: #0065FC;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    padding: 2em;
    border: none;
}

.filtersMenu i{
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 1em;
    margin-right: 1em;
}

.filtersMenu button{
    border: 1px solid #DEEBFF;
    background-color: transparent;
    border-radius: 20px;
}

.filtersMenu button:hover {
    background-color: #DEEBFF;
}

.info i{
    color: #0065FC;
}

.fullStar{
    color: #0065FC;
}

.emptyStar{
    color: #DEEBFF;
}

.mainSection {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 1.3rem;
    margin: 1rem;
    max-height: 40%;
    
}

.accommodationsArticle{
    background-color: #F2F2F2;
    border-radius: 10px;
    margin-right: 3em;
}

.accommodations h2{
    padding: 5% 2%;
} 

.accommodations article{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 1%;
    width: 25%;
    margin: 2% 2% auto;
    max-height: 40%; 
}

.accommodations article img{
    padding: 0px 0 10px 0;
    border-radius: 20px;
    width: 100%;
    height: 100px;
}

.popularArticle{
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.popular img{
    flex-basis: 50%;
    
}

.bodyPopular{
    flex-basis: 50%;
    
}

.popular article{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 10px;
    margin: 2%;
}

.popular article img{
    padding: 10px 0 10px 0;
    border-radius: 20px;
    height: 150px;
    flex-basis: 50%;
}

.activities figure{
    border-radius: 10px;
    box-shadow: 0 5px 5px 5px #c9c8c8;
    padding: 10px;
    width: 20%;
}

.activities figure img{
    padding: 10px;
    border-radius: 20px;
    width: 90%;
    height: 80%;
}

.bottomSection {
    display: flex;
    flex-direction: column;
}

.bottomSection section{
    display: flex;
    flex-direction: column;
}

.bottomSection section figure{
    border: red;
    border-radius: 20px;
    flex-grow: 1;
}

.bottomSection section article:nth-child(1), article:nth-child(4){
    flex-grow: 2;
}    

footer{
    background-color: #F2F2F2;
}
