.logo{
    align-self: center;
}

.signNav{
    flex-basis: 25%;
    justify-content: center;
}

.activitiesNav{
    flex-basis: 25%;
    justify-content: center;
}

.accommodationsNav{
    flex-basis: 25%;
    justify-content: center;
}